<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almacenes del IEEPO</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    {{ header_html|safe }}
</head>
<body>
    <div class="visit-counter">
        <b>Visitas:</b> {{ visitas }}
    </div>
    <div class="search-bar">
        <form id="busqueda-form" action="{{ url_for('index') }}" method="get">
            <label for="busqueda"></label>
            <input type="text" id="busqueda" name="q" value="{{ busqueda }}" placeholder="Texto a buscar, vacio busca todos.">
            <button id="searchBtn" class="btn btn-primary" type="submit">Buscar</button>
            <button id="clearButton"><i class="fa-sharp fa-solid fa-delete-left" title="Borrar"></i></button>
        </form>
    </div>
    {{ mapa_html|safe }}
    <script>
        {{ script_html|safe }}
    </script>    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
